.donate-now{
    background-image: url(images/donation7.jpg);
    padding-top: 160px;
    filter: brightness(80%);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(221, 243, 23);
    text-align: center;
    padding-bottom: 160px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 35px;
}
.link-button{
    color: rgb(250, 248, 247);
    border-radius: 9px;
    text-decoration: none;
    font-weight: 550;
    padding: 10px 15px;
    background-color: rgb(234, 48, 48);
}
.happiness{
    text-align: center;
    font-size: large;
}
.amount{
   display: flex;
  display: -webkit-flex;
   width: 60%;
   height: 100px;
   
}
.kop {
    background-color: gray;
    justify-content: space-evenly;
    padding-left: 40px;
    margin-left: 90px;
    padding-right: 10px;
    padding-top: 7px;
    

}
.button{
    text-align: center;
    padding-left: 44%;
    padding-right: 44%;
}
#change-color{
    color: rgb(18, 15, 15);
    background-color: rgb(225, 176, 176);
    border: 2px solid tomato;
}
.our-plan{
    text-align: center;
}
.section-plan{
    display: flex;
}
.icon-container1{
    display: flex;
    width: 300px;
     height: 300px;
     background-color: rgb(206, 239, 228);
     padding: 25px 15px;
     margin: 110px;
     margin-right: 60px;
}
.icon-container2{
    display: flex;
    width: 300px;
     height: 300px;
     background-color: rgb(244, 196, 177);
     padding:25px 15px;
     margin: 110px;
     margin-left: 70px;
     
}
.icon-container3{
    display: flex;
    width: 300px;
     height: 300px;
     background-color: rgb(219, 160, 218);
     padding:25px 15px;
     margin: 110px;
     margin-left: 10px;
}
footer{
    background-color: rgb(43, 41, 41);
    color: bisque;
    padding: 40px;
    margin: -8px;
    text-align: center;
}
#humble{
    color: rgb(224, 52, 52);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button-css{
    text-align: center;
}
.css-button{
    text-align: center;
    background-color:rgb(238, 192, 210) ;
    padding: 80px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;
}
input[type=email] {
    background-color: gray;
    padding: 6px 4px;
    border-radius: 5px;
    margin-left: 5px;

}
input[type=button] {
    background-color: rgb(238, 87, 87);
    color: antiquewhite;
    padding: 6px 4px;
    border-radius: 5px;
    margin-right: 8px 0;
}
.number{
    display: flex;
}
.twenty-minutes{
    text-align: center;
    color: rgb(246, 34, 34);
    font-size: 50px;
    font-weight: 600;
}
.thirty-two{
    text-align: center; 
    color: blue; 
    font-size: 50px;
    font-weight: 600;
}
.ninety-seven{
    text-align: center;    
    color: gold;
    font-size: 50px;
    font-weight: 600;
     
}
.thirty{
    color:black;
    text-align: center;
    margin: 1px 30px;
    font-size: 17px;
   
}